<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

	<!-- Root WebApplicationContext 설정 -->
	<!-- <context-param>태그에 설정된 내용은 servlet context 객체에 담김 -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			WEB-INF/spring/root-context.xml
			<!-- 
			WEB-INF/spring/aop-context.xml
			WEB-INF/spring/exception-handler-context.xml
			WEB-INF/spring/tx-context.xml
			 -->
		</param-value>
	</context-param>
	<!-- <listener> -> 이벤트를 수신해서 이벤트 발생시 실행됨
		 WAS가 켜져 servlet context가 생성된 후, 로드될 시 실행됨
	 -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	
	<!-- 한글 처리를 위한 필터 등록 -->
	<filter>
		<filter-name>characterEncodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>
	
	<filter-mapping>
		<filter-name>characterEncodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<!-- Child WebApplicationContext 설정  -->
	<servlet>
		<servlet-name>board</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>WEB-INF/spring/servlet-context.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>board</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>

</web-app>
